@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background: #171717;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #262626;
    text-align: center;
}

.generateBtn {
    color: white;
    cursor: pointer;
}